:root {
    --variable-font-size: 15px;
    --variable-line-height: 1;
    --main-color: hsl(300, 43%, 22%);
    --section-text-color: hsl(303, 10%, 53%);
    --section-bg-color: hsl(300, 24%, 96%);
    --article-name-color: hsl(0, 0%, 100%);
    --article-buyer-color: hsl(333, 80%, 67%);
    --main-font: "Spartan";
}

body {
    max-width: 375px;
    font: var(--main-font);
}

.main-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.section-introduction {
    font-family: var(--main-font);
    text-align: center;
}

.section-heading-title {
    font-size: calc(var(--variable-font-size)*3);
    color: var(--main-color);
    margin-bottom: 0;

}

.section-paragraph {
    font-size: calc(var(--variable-font-size)*1.3);
    line-height: var(--variable-line-height);
    margin-top: 10px;
    color: var(--section-text-color);

}

.section-ratings {
    width: 100%;
    height: auto;
}

.ratings {
    background-color: var(--section-bg-color);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 20px;
}

.stars {
    text-align: center;

}

.section-rating-phrase {
    font-size: 15px;
    margin-left: 25%;
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
}

.article-content {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

.article {
    padding: 30px 0;
    background-color: var(--main-color);
    border-radius: 10px;
    position: relative;
    margin-top: 20px;

}


.article-image {
    border-radius: 50%;
    margin-left: 10px;

}

.article-container {
    width: 50%;
    position: absolute;
    top: 30px;
    left: 110px;
    margin-left: 10px;

}


.article-container-name {
    color: var(--article-name-color);
    font-size: var(--variable-font-size);
}

.article-container-buyer {
    color: var(--article-buyer-color);
}

.article-paragraph {
    font-size: calc(var(--variable-font-size)*1.2);
    line-height: var(--variable-line-height);
    color: var(--article-name-color);
    text-align: left;
    padding: 20px;
}

footer {
    width: 100%;
}

.footer-paragraph {
    text-align: center;
    padding: 20px;
}